@page "/register"


@inject IUserService _userService;
@inject ISnackbar _snackbar;

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/stel.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="title">Kayıt alanı</div>
        <EditForm Model="@addUser" OnValidSubmit="Add">
            <div class="user_details">
                <div class="input_pox">
                    <span class="datails">Ad</span>
                    <InputText @bind-Value="addUser.Name" placeholder="Adınızı giriniz" required />
                </div>
                <div class="input_pox">
                    <span class="datails">Soyad</span>
                    <InputText @bind-Value="addUser.Surname" placeholder="Soyadınızı giriniz" required />
                </div>
                <div class="input_pox">
                    <span class="datails">Kullanıcı Adınızı Giriniz</span>
                    <InputText @bind-Value="addUser.NickName" placeholder="Kullanıcı adınızı girin" required />
                </div>
                <div class="input_pox">
                    <span class="datails">Email</span>
                    <InputText @bind-Value="addUser.Mail" placeholder="Enter your Email" required />
                </div>
                <div class="input_pox">
                    <span class="datails">Phone Number</span>
                    <InputText @bind-Value="addUser.PhoneNumber" placeholder="Enter your Phone" required />
                </div>
                <div class="input_pox">
                    <span class="datails">Password</span>
                    <InputText @bind-Value="addUser.Password" type="password" placeholder="Enter your Password" required />
                </div>
            </div>
            <div class="button">
                <button type="submit">Kayıt Ol</button>
            </div>
        </EditForm>
    </div>
</body>
</html>

@code{
    AddUser addUser = new AddUser();

    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    void Cancel() => MudDialog.Cancel();

    async Task Add()
    {
        try
        {
            var result = await _userService.AddUserAsync(addUser);
            _snackbar.Add("User added successfully: " + result.Message, Severity.Success);
            MudDialog.Close(DialogResult.Ok(true));

            NavigationManager.NavigateTo("/login");
        }
        catch (Exception ex)
        {
            _snackbar.Add("Failed to add user: " + ex.Message, Severity.Error);
        }
    }
}
