@page "/register"

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/stel.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="title">Kayıt alanı</div>
        <form action="home">
            <div class="user_details">
                <div class="input_pox">
                    <span class="datails">Ad</span>
                    <input type="text" placeholder="Adınızı giriniz" required>
                </div>
                <div class="input_pox">
                    <span class="datails">Soyad</span>
                    <input type="text" placeholder="Soyadınızı giriniz" required>
                </div> 
                <div class="input_pox">
                    <span class="datails">Kullanıcı adınız giriniz</span>
                    <input type="text" placeholder="Kullanıcı adınızı girin" required>
                </div>
                <div class="input_pox">
                    <span class="datails">Email</span>
                    <input type="text" placeholder="Enter your Email" required>
                </div>
                <div class="input_pox">
                    <span class="datails">Phone Number</span>
                    <input type="text" placeholder="Enter your Phone" required>
                </div>
                <div class="input_pox">
                    <span class="datails">Password</span>
                    <input type="text" placeholder="Enter your Password" required>
                </div>
            </div>
            <div class="button">
                <input type="submit" value="Kayıt ol">
            </div>
        </form>
    </div>
</body>
</html>
