.page[b-8trpk9dgvf] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-8trpk9dgvf] {
    flex: 1;
}

.sidebar[b-8trpk9dgvf] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}


/* Logo stilini özelleştirme */
.logo[b-8trpk9dgvf] {
    height: 60px; /* Logo boyutunu ayarlayabilirsiniz */
}

/* Seçili MudNavLink alt çizgisini kaldırma */
.mud-nav-link.mud-ripple.mud-ripple-rounded.mud-nav-link-active[b-8trpk9dgvf] {
    border: none !important;
    box-shadow: none !important; /* Eğer bir gölge varsa */
}

/* MudDrawer yatay düzenleme */
.mud-drawer-content[b-8trpk9dgvf] {
    display: flex;
    flex-direction: row; /* Yatay hizalama */
    align-items: center; /* Dikeyde ortala */
    overflow-x: auto; /* Taşma durumunda kaydırma çubuğu */
    padding: 8px; /* İç boşluk */
}

/* MudNavLink öğelerinin arasındaki boşluğu ayarlama */
.mud-nav-link[b-8trpk9dgvf] {
    margin-right: 16px; /* Sağa boşluk */
}



.mud-nav-item[b-8trpk9dgvf] {
    border: none;
}

.top-row[b-8trpk9dgvf] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-8trpk9dgvf]  a, .top-row[b-8trpk9dgvf]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-8trpk9dgvf]  a:hover, .top-row[b-8trpk9dgvf]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-8trpk9dgvf]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-8trpk9dgvf] {
        display: none;
    }

    .top-row.auth[b-8trpk9dgvf] {
        justify-content: space-between;
    }

    .top-row[b-8trpk9dgvf]  a, .top-row[b-8trpk9dgvf]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-8trpk9dgvf] {
        flex-direction: row;
    }

    .sidebar[b-8trpk9dgvf] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-8trpk9dgvf] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

        .top-row.auth[b-8trpk9dgvf]  a:first-child {
            flex: 1;
            text-align: right;
            width: 0;
        }

    .top-row[b-8trpk9dgvf], article[b-8trpk9dgvf] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}