.sidebar[b-6xixl5xn1y] {
    position: fixed; /* Sabit konum */
    top: 100px; /* Üstten 100px boşluk */
    right: 20px; /* Sağdan 20px boşluk */
    width: 250px;
    border: 1px solid #ccc;
    padding: 1rem;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    z-index: 1000; /* Diğer içeriklerden üstte olacak şekilde z-index */
    max-height: calc(100vh - 120px); /* Üstteki boşluğu hesaba katarak viewport yüksekliği */
    overflow-y: auto;
}

/* Eğer sidebar'ın içeriği ekran boyutunu aşıyorsa dikey kaydırma çubuğu gözükür */
.sidebar-container[b-6xixl5xn1y] {
    max-height: calc(100vh - 120px);
    overflow-y: auto;
}

/* Sidebar'ın içeriği altındaki ana içeriğin üzerine çıkmamasını sağlar */
.main-content[b-6xixl5xn1y] {
    padding-left: 20px; /* Sol tarafta boşluk bırakır */
    padding-right: 480px; /* Sidebar genişliği + sağ tarafta boşluk bırakır */
}


.sidebar-item-content[b-6xixl5xn1y] {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.username[b-6xixl5xn1y] {
    font-weight: bold;
}

.userhandle[b-6xixl5xn1y] {
    color: grey;
}

.follow-section[b-6xixl5xn1y] {
    position: sticky; /* Yada 'fixed' kullanabilirsiniz */
    top: 85px; /* Header'ınıza göre bu değeri ayarlayın */
    width: 250px; /* Kutunun genişliği */
    border: 1px solid #ccc; /* Çizgileri belirginleştirmek için */
    margin-left: auto; /* Sağ tarafa yaslamak için */
    padding: 1rem; /* İçerikle sınırlar arasında boşluk bırakmak için */
    background-color: white; /* Arka plan rengi */
    z-index: 10; /* İçeriklerin üzerinde gözükmesini sağlar */
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Kutuya gölge ekler */
    height: max-content; /* İçeriğe göre yükseklik ayarlar */
}

/* Eğer 'fixed' kullanırsanız ve sidebar içeriği çok fazlaysa ekleyebilirsiniz */
.follow-section-container[b-6xixl5xn1y] {
    height: 100vh;
    overflow-y: auto;
}


