.sidebar[b-8umshkv224] {
    width: 300px; /* veya istediğiniz bir genişlik */
    position: fixed;
    right: 0;
    top: 0; /* veya istediğiniz bir pozisyon */
    padding: 20px;
    background-color: white;
    /* Diğer stiller */
}

.sidebar-item-content[b-8umshkv224] {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.username[b-8umshkv224] {
    font-weight: bold;
}

.userhandle[b-8umshkv224] {
    color: grey;
}
