.posts-list {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 100px; /* Navbar'ın yüksekliğine göre bu değeri ayarlayın */
    background-color: #f9f9f9;
}

.post-card {
    border: 1px solid #ddd;
    margin-bottom: 20px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post-header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-right: 10px;
}

.user-name {
    font-weight: bold;
}

.post-body {
    padding: 15px;
}

.post-footer {
    padding: 10px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    text-align: right;
}

.like-count {
    /* Stilinizi burada tanımlayın */
}
