@page "/"

<AuthorizeView>
    <Authorized>
        <div class="main-content">
            <!-- Ana içerik burada olacak, örneğin bir blog listesi veya dashboard -->
            <ClientProject.Pages.Posts.SharePost />
            <ClientProject.Pages.Posts.AddPostPopup />
            <ClientProject.Pages.Deneme />
        </div>

        <div class="sidebar">
            <!-- Sağdaki sabit kutu burada yer alacak -->
            <ClientProject.Pages.Users.UserList/>
        </div>
    </Authorized>
</AuthorizeView>
